<?xml version="1.0" encoding="utf-8"?>
   <feed xmlns="http://www.w3.org/2005/Atom">
    <title>$title</title>
    <link href="$base"/>
    <link rel="self" href="$self"/>
    #if ($next)
        <link rel="next" href="$next"/>
    #end
    #if ($previosu)
        <link rel="previous" href="$previous"/>
    #end
    #if ($updated)
        <updated>$updated</updated>
    #end
    <id>urn:uuid:$ref</id>
    #foreach ($elm in $list)
    <entry>
      #if ($elm.name)
        <title>$elm.name</title>
      #else
        <title>$elm.class.simpleName</title>
      #end
      #if ($elm.href)
        <link href="$elm.href"/>
        <id>urn:uuid:$elm.href</id>
      #end
      #if ($elm.description)
        <summary>$elm.description</summary>
      #else
        <summary>$elm</summary>
      #end
    </entry>
    #end
   </feed>