<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/></head>
<body>
<h1>$response.title</h1>
<h2>Queries</h2>
<ul>
#foreach( $link in $response.linksWithMethod("GET") )
    <li><a href="$link.uri">$link.name</a></li>
#end
</ul>
<h2>Commands</h2>
<ul>
#foreach( $link in $response.linksWithMethod("PUT","POST","DELETE") )
    <li><a href="$link.uri">$link.name</a></li>
#end
</ul>
<h2>Body</h2>
$body
</body>
</html>