<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/></head>
<body>
<h1>$description.link.name</h1>
<form name='$description.link.name' action='$description.link.uri' method='$description.link.httpMethod'>
#foreach( $parameter in $description.parameters )
    $parameter.name : <input name="$parameter.name" type="text" value="$parameter.defaultValue" /><br/>
#end
<input type='submit' />
</form>
</body>
</html>